@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(0, 0%, 94%);
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.reload{
    width: 100px;
    height: 30px;
    border: 0;
    outline: none;
    background-color: hsl(259, 100%, 65%);
    color: hsl(0, 0%, 100%);
    border-radius:5px ;
    position: absolute;
    top: 20px;
    left: 10px;
}
.reload:hover{
    border: 2px solid;
    background-color: transparent;
    color: #000;
    outline: none;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 30% 20px;
    width: 600px;
    height: 500px;
    aspect-ratio: 1/1;
    padding: 40px;
    color: hsl(0, 0%, 8%);
}
form{
    width: 100%;
    display: flex;
    height: 110px;
    border-bottom: 2px solid hsl(259, 100%, 65%);
    gap: 20px;
    position: relative;
}
.wrapper{
    height: fit-content;
    padding: 10px;
    width: 120px;
    box-sizing: border-box;
}
label{
    text-transform: uppercase;
    font-size: .6em;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    letter-spacing: 2px;
}
.errorBox{
    width: 100%;
    height: fit-content;
    text-align: justify;
    color: rgb(233, 8, 8);
    font-size: 0.5em;
}
input{
    width: 100px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 3px;
}

input:hover, input:focus{
    border:2px solid hsl(259, 100%, 65%);
    outline: none;
}
.errorBox{
    color: hsl(0, 100%, 67%);
    font-size:.5em ;
    font-weight: 400;
    height: fit-content;
    margin-top: 3px;
    text-align: justify;
}
button{
    position: absolute;
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    cursor: pointer;
    right: 0;
    top: 5em;
    outline: 0;
}
button:hover, button:disabled{
    background-color: hsl(0, 0%, 8%);
}
.outPut{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4.5em;
    font-weight:700 ;
    font-style:italic;
    line-height: 90px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.outPut div{
    width: 100%;
    height: fit-content;
}
span{
    color: hsl(259, 100%, 65%);
    height: 100%;
    width: fit-content;
}
@media screen and (max-width:600px){
    html{
        width: 100%;
        height: 100%;
    }
    main{
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    .container{
        width: 100%;
    }
    button{
        right: 50%;
        transform: translateX(-50% -50%);
        width: fit-content;
        height: fit-content;
        padding: 3px;
        top: 6em;
    }
    .outPut{
        font-weight: 900;
        font-size: 2.5em;
    }
}
@media screen and (max-width:500px) {
      html,body{
        width: 100%;
        height: 100%;
    }
    input{
        width: 100%;
    }
    .input{
        width: 30%;
    }
}